[user]
    name = Shane Scanlon
    email = shane@turtle-stack.com
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
[rerere]
	enabled = true
[push]
	default = simple
[init]
	defaultBranch = master
